
*.pyc

*.iml

harvesting/classifier/Sentiment.csv

.idea/

.idea/CloudComputingProjectTwo.iml

.idea/modules.xml

.idea/workspace.xml

harvesting/classifier/sample.json

orchestration/boto/test.py

orchestration/boto/

.idea/.name

